fastapi
uvicorn
sqlalchemy
alembic
psycopg2-binary
python-dotenv
pydantic
pydantic-settings
openai
requests
newspaper3k
kss
numpy
tqdm
pgvector
python-dateutil
prometheus-fastapi-instrumentator
psutil
prometheus-client
